body {
  font-family: Roboto, sans-serif;
  color: #757575, #212121, #2196f3, #ffffff, #2f303a;
  background-color: #ffffff;
  font-size: 14px;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul,ol{
  margin: 0;
  padding-left: 0;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  }


  .container-header{ 
    
    width: 1200px;
    height: 80px;
    padding: 94px;
    margin: 0 auto;
    outline: 2px solid red;
  }


.container-header .menu-log{
  display: flex;
}




.logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
  word-spacing: -7px;

  display: flex;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  padding: 145 31;
}
.logo-contacts {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  word-spacing: -7px;
}
.logo-studio-bleck {
  color: #212121;
}
.logo-studio-white {
  color: #ffffff;
}
.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;


  display: flex;
  align-items: center;
  padding: 16px 70px;
  margin-right: 50px;
  margin-left: 50px;
}

.menu-log:not(:last-child){
  margin-left: auto;
}



.menu .link {
  color: #212121;
}
.menu .link:active,
.menu .link:hover,
.menu .link:focus,
.link:active {
  color: #2196f3;
}
.menu-studio.current,
.menu-portfolio.current {
  color: #2196f3;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.contacts .link {
  color: #757575;
}

.contacts .link:active,
.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}

.container-contacts {
  width: 1600px;
  padding: 94px;
  background: #2f303a;
}


.address-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-map.link {
  color: #ffffff;
}
.address-map.link:active,
.address-map.link:hover,
.address-map.link:focus {
  color: #2196f3;
}

.address-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-mail,
.address-tel.link {
  color: rgba(255, 255, 255, 0.6);
}
.address-mail.link:hover,
.address-mail.link:active,
.address-mail.link:focus {
  color: #2196f3;
}
.address-tel.link:active,
.address-tel.link:hover,
.address-tel.link:focus {
  color: #2196f3;
}
/*-------------------Слоган / Кнопка заказать----*/
.container-slogan{
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2f303a;
outline: 2px solid red;

}
.slogan {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  border:0px;
 
  outline: 2px solid red;
 

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-order-service {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
  padding: 10px 32px;
  

  font-family: "Roboto", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.btn-order-service:active,
.btn-order-service:hover,
.btn-order-service:focus {
  background: #188ce8;
}

/*list - убирает точки перед селектарами  */
.list {
  list-style: none;
}
/*link - убирает подчеркивание  селектара  */
.link {
  text-decoration: none;
}


.container-advantages{
  padding: 94px;
}

.advantages{
  display: flex;
}


.advantages-name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*---------------Чем мы занимаемся--------*/
.classes-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.container-classes-title{



  padding: 94px;
  justify-content:space-evenly;
  outline: 2px solid red;
}

.classes-image{
  display: flex;
 
}
.image+.image{
  margin-left: 30px;
}


.container-our-team {
  width: 1600px;
  background: #e5e5e5;
}
.our-team-list {
  width:calc((100%-30px)/3)
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: -30px;
}



.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.container-team{
  width: 1200px;
  padding: 94px;

}
.team-member {
  background: #ffffff;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.btnn {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  border: none;
}

.btnn:hover {
  background: #2196f3;
  color: #ffffff;
}
.btnn:focus {
  background: #2196f3;
  color: #ffffff;
}
.btn-everything {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}
.projects-name {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.project-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}
.projects-list {
  cursor: pointer;
}
