body {
  font-family: Roboto, sans-serif;
  color: #757575, #212121, #2196f3, #ffffff, #2f303a;
  background-color: #ffffff;
  font-size: 14px;
  
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul,ol{
  margin: 0;
  padding-left: 0;
}
html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  }



.container-header{ 
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  border: 0;
  margin: 0 auto;
  outline: 2px solid red;
}
.menu-log {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 93px;
  }


.logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
  word-spacing: -7px;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  outline: 2px solid red;
}
.logo-contacts {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  word-spacing: -7px;
  outline: 2px solid red;
}
.logo-studio-bleck {
 
  color: #212121;
}
.logo-studio-white {
  color: #ffffff;
}
.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;


  display: flex;
  align-items: center;
  border: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 93px;
  outline: 2px solid red;
}



.menu .link {
  color: #212121;
}
.menu .link:active,
.menu .link:hover,
.menu .link:focus,
.link:active {
  color: #2196f3;
}
.menu-studio.current,
.menu-portfolio.current {
  color: #2196f3;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;


  display: flex;
  align-items: center;
  
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-mail-tel{
  outline: 2px solid red;
}


.contacts .link {
  color: #757575;
}

.contacts .link:active,
.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}

.container-contacts {
  width: 1600px;
  padding: 94px;
  margin: 0 ;
  background: #2f303a;
  outline: 2px solid red;
}


.address-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-map.link {
  color: #ffffff;
}
.address-map.link:active,
.address-map.link:hover,
.address-map.link:focus {
  color: #2196f3;
}

.address-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-mail,
.address-tel.link {
  color: rgba(255, 255, 255, 0.6);
}
.address-mail.link:hover,
.address-mail.link:active,
.address-mail.link:focus {
  color: #2196f3;
}
.address-tel.link:active,
.address-tel.link:hover,
.address-tel.link:focus {
  color: #2196f3;
}
/*-------------------Слоган / Кнопка заказать----*/
.container-slogan{
  
  height: 600px;
  left: 0px;
  top: 80px;
  margin: 0 auto;
  background: #2f303a;
  outline: 2px solid red;
 

}
.slogan {
  
  position: absolute;
  width: 696px;
 
 

  border:0px;

  padding: 200px 0 280px 0;
  margin: 0 auto;
  outline: 2px solid red;
 

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-order-service {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
  padding: 10px 32px;
  

  font-family: "Roboto", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
 
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.btn-order-service:active,
.btn-order-service:hover,
.btn-order-service:focus {
  background: #188ce8;
}

/*list - убирает точки перед селектарами  */
.list {
  list-style: none;
}
/*link - убирает подчеркивание  селектара  */
.link {
  text-decoration: none;
}


.container-advantages{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 94px;
  outline: 2px solid red;
}

.advantages{
  display: flex;
  padding: 94px;
}


.advantages-name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*---------------Чем мы занимаемся--------*/
.container-title{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.classes-title {
  
  padding: 0 15px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.container-classes-title{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  
  /*margin: 0 auto;*/

  /*flex-basis: calc(100% /3- 30px);
  /*width: calc((100% -60px)/3);*/
  /*margin-left: 30px;*/
  outline: 2px solid red;
}

.classes-image{
  display: flex;
  /*flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;*/
}

.image {
  
width: calc((100% - 90px) / 3);
margin-right: 30px;
/*margin-left: 15px;*/
}
.image:last-child{
    margin-right: 0;
  }


/*---------------Наша команда--------*/
.container-our-team {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid red;
  background: #e5e5e5;
}

.our-team-list {
  outline: 2px solid red;
  display: flex;
 /* margin-left: 30px;
  margin-bottom: -30px;*/
}
/*flex-wrap: wrap;*/
img{
  display: block;
  max-width: 100%;
  height: auto;
}
/*.team-member + .team-member{
  margin-left: 30px;
}*/
.team-member{
  flex-basis: calc(100% / 4 - 30px);
  width: calc((100% - 120px) / 4);
  margin-right: 30px;
  outline: 2px solid green;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  padding: 0 15px;
}
.container-team{
  outline: 2px solid red;
  width: 1200px;
  padding: 94px;
  border: 0;

}
.team-member {
  background: #ffffff;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.btnn {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  border: none;
}

.btnn:hover {
  background: #2196f3;
  color: #ffffff;
}
.btnn:focus {
  background: #2196f3;
  color: #ffffff;
}
.btn-everything {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}
.btn-everything,.btnn{
  width: 1200px;
  display: flex;
  width: calc(100% / 5 - 30px);
  margin-left: 30px;
  outline: 2px solid red;
}
/*----------------projects-list----------------*/



.projects-name {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.project-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}
.projects-list {
  cursor: pointer;
  display: flex;
  width: 1200px;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: aqua;
}


.img-p{
  width: calc((100% - 90px) / 3);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.img-p:nth-child(3n){
  margin-right: 0;}